*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    text-align: center; 
}

.header{
    height: 113px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
}

.header_box{
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.logo{
    width: 281px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.logo_name{
    color: rgba(20, 175, 202, 1);
    font-weight: bold;
}

.header_link{
    width: 595px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgba(62, 76, 78, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.header_link>a{
    text-decoration: none;
    color: rgba(62, 76, 78, 1);
}

.header_link>a:hover{
    color: #14AFCA;
}

.slogan_box, .what_box, .box_why, .box_meet{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slogan_box{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 596px;
}

.slogan{
    width: 996px;
    font-family: 'FuturaBT';
    font-weight: bold;
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;    
} 

.slogan_box::before, .slogan_box::after, .box_companies::before, .box_companies::after, .testimonials_box::before, .testimonials_box::after, .box_why::before, .box_why::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.slogan_box::before {
    bottom: -144px;
    clip-path: polygon(0% 54%, 0% 80%, 70% 80%);
}

.slogan_box::after{
    top: 1px;
    clip-path: polygon(39% 100%, 100% 100%, 100% 76%);
}

.what_box{
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    margin: 122px 0 183px;
    height: 226px;
}

.title_what, .title_companies, .meet_title, .testimonials_title, .why_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700; 
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
}

.what_subtitle, .title_subtitle, .meet_subtitle, .testimonials_subtitle, .why_subtitle{
    font-family: 'Open Sans';
    font-weight: 600; 
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
    color: rgba(66, 79, 87, 1);
}

.what_text, .meet_text{
    width: 992px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.what_text{
    width: 992px;
}

.box_companies, .testimonials_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(../img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 715px;
  position: relative;
}

.box_companies::before {
    bottom: 64px;
    clip-path: polygon(48% 20%, 100% 9%, 48% 0%);
}

.box_companies::after{
    bottom: 515px;
    clip-path: polygon(48% 83%, 0% 72%, 49% 72%);
}

.title_companies{
    width: 364px;
    line-height: 75px;
}

.title_subtitle{
    width: 506px;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.adobe{
    width: 225px;
    height: 99px;
    background: #FCFBFB;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies_list{
    display: grid;
    grid-template: repeat(2, 99px)/ repeat(4, 225px);
    gap: 55px 120px;
    align-items: center;
    justify-content: center;
}

.box_meet, .box_why{
    flex-direction: column;
    justify-content: space-around;  
}

.box_meet{
    margin: 164px 0 129px;
    height: 498px;
}

.meet_title{
    width: 506px;
}

.meet_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.meet_text{
    width: 309px;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
    margin-top: 22px;
}


.testimonials_title, .why_title{
    width: 506px;
    margin-bottom: 15px;
}

.testimonials_subtitle, .why_subtitle{
    color: rgba(255, 255, 255, 1); 
}

.testimonials_text{
    width: 907px;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
    font-style: italic;
}

.author{
    width: 166px;
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-top: 28px;
    font-style: italic;

}

.testimonials_box{
    height: 580px;
    justify-content: center;
    text-align: center;
}

.testimonials_box::before {
    bottom: 52px;
    clip-path: polygon(48% 20%, 100% 9%, 48% 0%);
  }

.testimonials_box::after{
    bottom: 417px;
    clip-path: polygon(48% 83%, -7% 72%, 50% 71%);
  }
  
.quote{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.why_text{
    width: 816px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.7px;
    color: #424F57;
}

.why_subtitle{
    color: rgba(66, 79, 87, 1);
}

.box_why{
    height: 226px;
    margin-top: 105px;
    position: relative;
}

.box_why::before {
    bottom: 276px;
    clip-path: polygon(0% 25%, 0% 80%, 70% 80%);
  }

.box_why::after{
    bottom: 330px;
    clip-path: polygon(22% 100%, 100% 100%, 100% 56%);
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    margin: 96px 0 88px;
  }

  .designed{
    font-weight: 700;
    font-size: 16px;
  }
